@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #131c2a;
  background: #f9f9ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
